pipeline/NASA_ASTERIODS_NEOBS.json
{
	"name": "NASA_ASTERIODS_NEOBS",
	"properties": {
		"activities": [
			{
				"name": "VAR_ST_DATE",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "VAR_STDATE",
					"value": {
						"value": "@formatDateTime(addDays(convertFromUtc(utcNow(),'Eastern Standard Time'), -7), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "VAR_EN_DATE",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "VAR_ENDATE",
					"value": {
						"value": "@formatDateTime(addDays(convertFromUtc(utcNow(),'Eastern Standard Time'), -1), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "NASA_BLOB_COPY",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "VAR_ST_DATE",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "VAR_EN_DATE",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "NASA",
						"type": "DatasetReference",
						"parameters": {
							"STDT": {
								"value": "@variables('VAR_STDATE')",
								"type": "Expression"
							},
							"ENDT": {
								"value": "@variables('VAR_ENDATE')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "NASA_BLOB",
						"type": "DatasetReference",
						"parameters": {
							"STDT": {
								"value": "@variables('VAR_STDATE')",
								"type": "Expression"
							},
							"ENDT": {
								"value": "@variables('VAR_ENDATE')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"VAR_STDATE": {
				"type": "String"
			},
			"VAR_ENDATE": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-03-17T02:03:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}