pipeline/NASA_ASTERIODS_NEOBS.json
{
	"name": "NASA_ASTERIODS_NEOBS",
	"properties": {
		"activities": [
			{
				"name": "NASA_BLOB_COPY",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SET_DATE",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "@{concat('?start_date=',variables('VAR_DATE'),'&end_date=',variables('VAR_DATE'),'&api_key=DEMO_KEY')}"
					},
					{
						"name": "Destination",
						"value": "nasa/json/@{concat(variables('VAR_DATE'),'.JSON')}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "setOfObjects"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "NASA",
						"type": "DatasetReference",
						"parameters": {
							"DATE": {
								"value": "@variables('VAR_DATE')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "NASA_BLOB_JSON",
						"type": "DatasetReference",
						"parameters": {
							"DATE": {
								"value": "@variables('VAR_DATE')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "SET_DATE",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "VAR_DATE",
					"value": {
						"value": "@formatDateTime(addDays(convertFromUtc(utcNow(),'Eastern Standard Time'), -1), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"VAR_DATE": {
				"type": "String",
				"defaultValue": "2025-03-18"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-03-17T02:03:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}