PAPER-PALICAN-ADF/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "PAPER-PALICAN-ADF"
		},
		"PAPER_PELICAN_BLOB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'PAPER_PELICAN_BLOB'"
		},
		"NASA_ASTERIOD_NEOBS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.nasa.gov/neo/rest/v1/feed"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/NASA_ASTERIOD_NEOBS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('NASA_ASTERIOD_NEOBS_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PAPER_PELICAN_BLOB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('PAPER_PELICAN_BLOB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/NASA')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "NASA_ASTERIOD_NEOBS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"DATE": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@concat('?start_date=',dataset().DATE,'&end_date=',dataset().DATE,'&api_key=DEMO_KEY')",
							"type": "Expression"
						}
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"links": {
							"type": "object",
							"properties": {
								"next": {
									"type": "string"
								},
								"previous": {
									"type": "string"
								},
								"self": {
									"type": "string"
								}
							}
						},
						"element_count": {
							"type": "integer"
						},
						"near_earth_objects": {
							"type": "object",
							"properties": {
								"2025-03-21": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"links": {
												"type": "object",
												"properties": {
													"self": {
														"type": "string"
													}
												}
											},
											"id": {
												"type": "string"
											},
											"neo_reference_id": {
												"type": "string"
											},
											"name": {
												"type": "string"
											},
											"nasa_jpl_url": {
												"type": "string"
											},
											"absolute_magnitude_h": {
												"type": "number"
											},
											"estimated_diameter": {
												"type": "object",
												"properties": {
													"kilometers": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"meters": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"miles": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"feet": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													}
												}
											},
											"is_potentially_hazardous_asteroid": {
												"type": "boolean"
											},
											"close_approach_data": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"close_approach_date": {
															"type": "string"
														},
														"close_approach_date_full": {
															"type": "string"
														},
														"epoch_date_close_approach": {
															"type": "integer"
														},
														"relative_velocity": {
															"type": "object",
															"properties": {
																"kilometers_per_second": {
																	"type": "string"
																},
																"kilometers_per_hour": {
																	"type": "string"
																},
																"miles_per_hour": {
																	"type": "string"
																}
															}
														},
														"miss_distance": {
															"type": "object",
															"properties": {
																"astronomical": {
																	"type": "string"
																},
																"lunar": {
																	"type": "string"
																},
																"kilometers": {
																	"type": "string"
																},
																"miles": {
																	"type": "string"
																}
															}
														},
														"orbiting_body": {
															"type": "string"
														}
													}
												}
											},
											"is_sentry_object": {
												"type": "boolean"
											}
										}
									}
								},
								"2025-03-22": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"links": {
												"type": "object",
												"properties": {
													"self": {
														"type": "string"
													}
												}
											},
											"id": {
												"type": "string"
											},
											"neo_reference_id": {
												"type": "string"
											},
											"name": {
												"type": "string"
											},
											"nasa_jpl_url": {
												"type": "string"
											},
											"absolute_magnitude_h": {
												"type": "number"
											},
											"estimated_diameter": {
												"type": "object",
												"properties": {
													"kilometers": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"meters": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"miles": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"feet": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													}
												}
											},
											"is_potentially_hazardous_asteroid": {
												"type": "boolean"
											},
											"close_approach_data": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"close_approach_date": {
															"type": "string"
														},
														"close_approach_date_full": {
															"type": "string"
														},
														"epoch_date_close_approach": {
															"type": "integer"
														},
														"relative_velocity": {
															"type": "object",
															"properties": {
																"kilometers_per_second": {
																	"type": "string"
																},
																"kilometers_per_hour": {
																	"type": "string"
																},
																"miles_per_hour": {
																	"type": "string"
																}
															}
														},
														"miss_distance": {
															"type": "object",
															"properties": {
																"astronomical": {
																	"type": "string"
																},
																"lunar": {
																	"type": "string"
																},
																"kilometers": {
																	"type": "string"
																},
																"miles": {
																	"type": "string"
																}
															}
														},
														"orbiting_body": {
															"type": "string"
														}
													}
												}
											},
											"is_sentry_object": {
												"type": "boolean"
											}
										}
									}
								},
								"2025-03-23": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"links": {
												"type": "object",
												"properties": {
													"self": {
														"type": "string"
													}
												}
											},
											"id": {
												"type": "string"
											},
											"neo_reference_id": {
												"type": "string"
											},
											"name": {
												"type": "string"
											},
											"nasa_jpl_url": {
												"type": "string"
											},
											"absolute_magnitude_h": {
												"type": "number"
											},
											"estimated_diameter": {
												"type": "object",
												"properties": {
													"kilometers": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"meters": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"miles": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"feet": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													}
												}
											},
											"is_potentially_hazardous_asteroid": {
												"type": "boolean"
											},
											"close_approach_data": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"close_approach_date": {
															"type": "string"
														},
														"close_approach_date_full": {
															"type": "string"
														},
														"epoch_date_close_approach": {
															"type": "integer"
														},
														"relative_velocity": {
															"type": "object",
															"properties": {
																"kilometers_per_second": {
																	"type": "string"
																},
																"kilometers_per_hour": {
																	"type": "string"
																},
																"miles_per_hour": {
																	"type": "string"
																}
															}
														},
														"miss_distance": {
															"type": "object",
															"properties": {
																"astronomical": {
																	"type": "string"
																},
																"lunar": {
																	"type": "string"
																},
																"kilometers": {
																	"type": "string"
																},
																"miles": {
																	"type": "string"
																}
															}
														},
														"orbiting_body": {
															"type": "string"
														}
													}
												}
											},
											"is_sentry_object": {
												"type": "boolean"
											}
										}
									}
								},
								"2025-03-24": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"links": {
												"type": "object",
												"properties": {
													"self": {
														"type": "string"
													}
												}
											},
											"id": {
												"type": "string"
											},
											"neo_reference_id": {
												"type": "string"
											},
											"name": {
												"type": "string"
											},
											"nasa_jpl_url": {
												"type": "string"
											},
											"absolute_magnitude_h": {
												"type": "number"
											},
											"estimated_diameter": {
												"type": "object",
												"properties": {
													"kilometers": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"meters": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"miles": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"feet": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													}
												}
											},
											"is_potentially_hazardous_asteroid": {
												"type": "boolean"
											},
											"close_approach_data": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"close_approach_date": {
															"type": "string"
														},
														"close_approach_date_full": {
															"type": "string"
														},
														"epoch_date_close_approach": {
															"type": "integer"
														},
														"relative_velocity": {
															"type": "object",
															"properties": {
																"kilometers_per_second": {
																	"type": "string"
																},
																"kilometers_per_hour": {
																	"type": "string"
																},
																"miles_per_hour": {
																	"type": "string"
																}
															}
														},
														"miss_distance": {
															"type": "object",
															"properties": {
																"astronomical": {
																	"type": "string"
																},
																"lunar": {
																	"type": "string"
																},
																"kilometers": {
																	"type": "string"
																},
																"miles": {
																	"type": "string"
																}
															}
														},
														"orbiting_body": {
															"type": "string"
														}
													}
												}
											},
											"is_sentry_object": {
												"type": "boolean"
											}
										}
									}
								},
								"2025-03-25": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"links": {
												"type": "object",
												"properties": {
													"self": {
														"type": "string"
													}
												}
											},
											"id": {
												"type": "string"
											},
											"neo_reference_id": {
												"type": "string"
											},
											"name": {
												"type": "string"
											},
											"nasa_jpl_url": {
												"type": "string"
											},
											"absolute_magnitude_h": {
												"type": "number"
											},
											"estimated_diameter": {
												"type": "object",
												"properties": {
													"kilometers": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"meters": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"miles": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"feet": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													}
												}
											},
											"is_potentially_hazardous_asteroid": {
												"type": "boolean"
											},
											"close_approach_data": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"close_approach_date": {
															"type": "string"
														},
														"close_approach_date_full": {
															"type": "string"
														},
														"epoch_date_close_approach": {
															"type": "integer"
														},
														"relative_velocity": {
															"type": "object",
															"properties": {
																"kilometers_per_second": {
																	"type": "string"
																},
																"kilometers_per_hour": {
																	"type": "string"
																},
																"miles_per_hour": {
																	"type": "string"
																}
															}
														},
														"miss_distance": {
															"type": "object",
															"properties": {
																"astronomical": {
																	"type": "string"
																},
																"lunar": {
																	"type": "string"
																},
																"kilometers": {
																	"type": "string"
																},
																"miles": {
																	"type": "string"
																}
															}
														},
														"orbiting_body": {
															"type": "string"
														}
													}
												}
											},
											"is_sentry_object": {
												"type": "boolean"
											}
										}
									}
								},
								"2025-03-26": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"links": {
												"type": "object",
												"properties": {
													"self": {
														"type": "string"
													}
												}
											},
											"id": {
												"type": "string"
											},
											"neo_reference_id": {
												"type": "string"
											},
											"name": {
												"type": "string"
											},
											"nasa_jpl_url": {
												"type": "string"
											},
											"absolute_magnitude_h": {
												"type": "number"
											},
											"estimated_diameter": {
												"type": "object",
												"properties": {
													"kilometers": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"meters": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"miles": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"feet": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													}
												}
											},
											"is_potentially_hazardous_asteroid": {
												"type": "boolean"
											},
											"close_approach_data": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"close_approach_date": {
															"type": "string"
														},
														"close_approach_date_full": {
															"type": "string"
														},
														"epoch_date_close_approach": {
															"type": "integer"
														},
														"relative_velocity": {
															"type": "object",
															"properties": {
																"kilometers_per_second": {
																	"type": "string"
																},
																"kilometers_per_hour": {
																	"type": "string"
																},
																"miles_per_hour": {
																	"type": "string"
																}
															}
														},
														"miss_distance": {
															"type": "object",
															"properties": {
																"astronomical": {
																	"type": "string"
																},
																"lunar": {
																	"type": "string"
																},
																"kilometers": {
																	"type": "string"
																},
																"miles": {
																	"type": "string"
																}
															}
														},
														"orbiting_body": {
															"type": "string"
														}
													}
												}
											},
											"is_sentry_object": {
												"type": "boolean"
											}
										}
									}
								},
								"2025-03-27": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"links": {
												"type": "object",
												"properties": {
													"self": {
														"type": "string"
													}
												}
											},
											"id": {
												"type": "string"
											},
											"neo_reference_id": {
												"type": "string"
											},
											"name": {
												"type": "string"
											},
											"nasa_jpl_url": {
												"type": "string"
											},
											"absolute_magnitude_h": {
												"type": "number"
											},
											"estimated_diameter": {
												"type": "object",
												"properties": {
													"kilometers": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"meters": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"miles": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"feet": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													}
												}
											},
											"is_potentially_hazardous_asteroid": {
												"type": "boolean"
											},
											"close_approach_data": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"close_approach_date": {
															"type": "string"
														},
														"close_approach_date_full": {
															"type": "string"
														},
														"epoch_date_close_approach": {
															"type": "integer"
														},
														"relative_velocity": {
															"type": "object",
															"properties": {
																"kilometers_per_second": {
																	"type": "string"
																},
																"kilometers_per_hour": {
																	"type": "string"
																},
																"miles_per_hour": {
																	"type": "string"
																}
															}
														},
														"miss_distance": {
															"type": "object",
															"properties": {
																"astronomical": {
																	"type": "string"
																},
																"lunar": {
																	"type": "string"
																},
																"kilometers": {
																	"type": "string"
																},
																"miles": {
																	"type": "string"
																}
															}
														},
														"orbiting_body": {
															"type": "string"
														}
													}
												}
											},
											"is_sentry_object": {
												"type": "boolean"
											}
										}
									}
								},
								"2025-03-28": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"links": {
												"type": "object",
												"properties": {
													"self": {
														"type": "string"
													}
												}
											},
											"id": {
												"type": "string"
											},
											"neo_reference_id": {
												"type": "string"
											},
											"name": {
												"type": "string"
											},
											"nasa_jpl_url": {
												"type": "string"
											},
											"absolute_magnitude_h": {
												"type": "number"
											},
											"estimated_diameter": {
												"type": "object",
												"properties": {
													"kilometers": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"meters": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"miles": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													},
													"feet": {
														"type": "object",
														"properties": {
															"estimated_diameter_min": {
																"type": "number"
															},
															"estimated_diameter_max": {
																"type": "number"
															}
														}
													}
												}
											},
											"is_potentially_hazardous_asteroid": {
												"type": "boolean"
											},
											"close_approach_data": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"close_approach_date": {
															"type": "string"
														},
														"close_approach_date_full": {
															"type": "string"
														},
														"epoch_date_close_approach": {
															"type": "integer"
														},
														"relative_velocity": {
															"type": "object",
															"properties": {
																"kilometers_per_second": {
																	"type": "string"
																},
																"kilometers_per_hour": {
																	"type": "string"
																},
																"miles_per_hour": {
																	"type": "string"
																}
															}
														},
														"miss_distance": {
															"type": "object",
															"properties": {
																"astronomical": {
																	"type": "string"
																},
																"lunar": {
																	"type": "string"
																},
																"kilometers": {
																	"type": "string"
																},
																"miles": {
																	"type": "string"
																}
															}
														},
														"orbiting_body": {
															"type": "string"
														}
													}
												}
											},
											"is_sentry_object": {
												"type": "boolean"
											}
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/NASA_ASTERIOD_NEOBS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NASA_BLOB_JSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PAPER_PELICAN_BLOB",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"DATE": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().DATE,'.JSON')",
							"type": "Expression"
						},
						"folderPath": "json",
						"container": "nasa"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PAPER_PELICAN_BLOB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NASA_ASTERIODS_NEOBS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "NASA_BLOB_COPY",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SET_DATE",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "@{concat('?start_date=',variables('VAR_DATE'),'&end_date=',variables('VAR_DATE'),'&api_key=DEMO_KEY')}"
							},
							{
								"name": "Destination",
								"value": "nasa/json/@{concat(variables('VAR_DATE'),'.JSON')}"
							}
						],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "setOfObjects"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "NASA",
								"type": "DatasetReference",
								"parameters": {
									"DATE": {
										"value": "@variables('VAR_DATE')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "NASA_BLOB_JSON",
								"type": "DatasetReference",
								"parameters": {
									"DATE": {
										"value": "@variables('VAR_DATE')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "SET_DATE",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "VAR_DATE",
							"value": {
								"value": "@formatDateTime(addDays(convertFromUtc(utcNow(),'Eastern Standard Time'), -1), 'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"VAR_DATE": {
						"type": "String",
						"defaultValue": "2025-03-18"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-03-17T02:03:29Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/NASA')]",
				"[concat(variables('factoryId'), '/datasets/NASA_BLOB_JSON')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DAILY')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "NASA_ASTERIODS_NEOBS",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2025-03-21T00:00:00",
						"timeZone": "Eastern Standard Time",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								11
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/NASA_ASTERIODS_NEOBS')]"
			]
		}
	]
}